.flex.flex-col
  .card.rounded.flex-1.p-2.border-2.m-2.bg-gray-200.shadow.text-center
    %h3
      Basic
    %p
      Sign up for the basic plan
    = button_to '$99.99', pricing_basic_path, method: :get, class: "m-3 py-2 px-2 bg-green-400 rounded shadow font-bold text-gray-100"
    
  .card.rounded.flex-1.p-2.border-2.m-2.bg-gray-200.shadow.text-center
    %h3
      Premium
    
    %button.m-3.py-2.px-2.bg-green-400.rounded.shadow.font-bold.text-gray-100
      $199.99


  .card.rounded.flex-1.p-2.border-2.m-2.bg-gray-200.shadow.text-center
    %h3
      Platnium

    %button.m-3.py-2.px-2.bg-green-400.rounded.shadow.font-bold.text-gray-100
      $399.99