- provide(:title, "BrewPay")

%div.flex.flex-col.justify-center.items-center
  %h1.text-2xl
    BrewPay

  %h4
    Contactless paying for your brewery bar or resuraunt. 


  %div
    %button 
      Learn More

