@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .body-bg {
    background-image: url("./waterbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
